
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans Regular';
}
body{
    height: 100vh;
    background-color: #f8ebfa;
}
nav.menu-lateral{
    width: 80px;
    height: 100%;
    background: #f082ff;
    padding: 40px 0 40px 1%;
    box-shadow: 1px 0 0 #f082ff;

    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;
    transition: .2s;
}
nav.menu-lateral.expandir{
    width: 300px;
    box-shadow: 0 0 1em #b00cbe;
}
.btn-expandir{
    width: 100%;
    padding-left: 10px;
}
.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;

}
#bar-ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu:hover{
    background: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
ul li.item-menu a:hover{
    color: #f082ff;
}
ul li.item-menu{
    transition: 0.2s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
ul li.ativo{
    background: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

ul li.item-menu.ativo a{
    color: #f082ff;
}
ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 25px;
    line-height: 40px;
    
}
ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}
nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 2;
}

ul li.item-menu a .icon >i{
    font-size: 30px;
    margin-left: 5px;
}


